<div class="jumbotron jumbotron-fluid" id="banner">
        <div class="parallax-pattern-overlay">
            <div class="container text-center" id="size-banner">
                <h2 class="display-2">Welcome to the Recipe Book</h2>
                
                <h3 class="banner-tag-line">An Angular app with Bootstrap and Firebase</h3>
                
                <a href="https://github.com/mvenin/recipe-book"
                    class="btn btn-primary-outline btn-banner">View on Github</a>
            </div>
            
        </div>
        
</div>

<hr/>
<img class="center-block" src="assets/images/shield-large.png"/>


